{% load static %}
<nav class="navbar bg-black navbar-dark">
    <div class="container-fluid p-0">
      <span class="navbar-brand mb-0 mx-auto h1"></span>


<!-- 
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css\style.css' %}">
      </head>
      <body>
        <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>MAPLEWOOD</h4>
              <ul>
                <div>
                  <button type="START HERE" class="btn btn-danger" style="margin-left: 20px;">START HERE</button>
              </div>
              </ul>
            </div>
            <div class="footer-col">
              <h4>MAPLEWOOD BICYCLE</h4>
              <ul>
                <li><a href="#">7534 MANCHESTER RD</a></li>
                <li><a href="#">ST.LOUIS, MO 63143</a></li>
                <li><a href="#">(314) 781-9566</li>
                <li><a href="#">info@maplewoodbicycle.com</a></li>
                <li><a href="#">Directions & Hours</a></li>
      
              </ul>
            </div>
            <div class="footer-col">
              <ul>
                <li><a href="#">Email Sign-up</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Fitting</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">Site Map</a></li>
                
                
              </ul>
            </div>
      
      
      
      
      
      
      
      
      
          </div>
        </div>
        </footer>
      </body>
      </html>
        
      


    </div>
 
</nav>
 -->




<div class="container-fluid">
  <footer class="foot1 text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->

     
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h2 class="text-uppercase fw-bold mb-4">
              MAPLEWOOD
            </h2>
          
          <div>
            <button type="" class="btn btn-danger" style="margin-left: 40px; font-size: 20px; padding-top: 1px; padding-bottom: 1px; background-color: red;">BICYCLE</button>
          </div>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4" style="background-color: red;">
              MAPLEWOOD</h3>
              <h3>BICYCLE</h3>
          
            <p>
              <a href="#!" class="text-reset">7534 MANCHESTER RD<br>
                                              ST.LOUIS, MO 63143 
              </a>
            </p>
            <p>
              <a href="#!" class="text-reset">(314) 781-9566
              </a>
            </p>
            <p>
              <a href="#!" class="text-reset">info@maplewoodbicycle.com</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Directions & Hours</a>
            </p>
          </div>
      
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            
            <p><i class="fas fa-home me-3"></i>Email Sign-up</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              About Us
            </p>
            <p><i class="fas fa-phone me-3"></i>Service</p>
            <p><i class="fas fa-print me-3"></i>Fitting</p>

            <p><i class="fas fa-phone me-3"></i>Demos</p>
            <p><i class="fas fa-print me-3"></i>Site Map</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>

    </div>
  
    <!-- Copyright -->
  </footer>

</div>
 
</nav>






